:root{
    --menu-color: #003E52;
    --menu-hover: #6cadc2;
}


*{
    list-style:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    box-sizing: content-box;
}

body{
    font-family: Roboto, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav_logo a img{
    width: 20px;
}

.nav_logo a p {
    font-size: 20px;
    margin-right: 10px;
}

.nav_logo a{
    display: flex;
}

.nav_link{
    display: flex;
}

.nav_link li a{
    margin: 0 10px;
    color: var(--menu-color);
}

.nav_link a:hover{
    color: var(--menu-hover);
}

.img_fond{
    background-image: url('./image/repas.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}