:root{
    --menu-color: #003E52;
    --menu-hover: #6cadc2;
    --footer-bg: #003e52;
    --gray-light: rgb(145, 143, 143);
}


*{
    list-style:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    box-sizing: content-box;
    color: var(--menu-color);
}

body{
    font-family: Roboto, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid gray;
}

.nav_logo a img{
width: 200px;
}

.nav_link{
    display: flex;
}

.nav_link li a{
    margin: 0 10px;
    color: var(--menu-color);
}

.nav_link a:hover{
    color: var(--menu-hover);
}

.img_fond{
    background-image: url('./image/header-image.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.food_section{
    display: flex;
    justify-content: space-evenly;
    text-align: right;
}

.food_section .food_content{
    width: 450px;
}

.food_section .description{
    line-height: 1.5em;
}

.title{
    margin: 40px 0;
}

.title h1{
    margin-bottom: 10px;
}

.carousel_food img{
    width: 100%;
    max-width: 100%;
}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 300px;
    padding: 30px 0;
    position: relative;
}

.about  h1{
    border-bottom: 3px solid rgb(185, 185, 185);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.about .about_content{
    display: flex;
    flex-direction: space-between;
}

.about_content span{
width: 30px;
margin-right: 25px;
font-size: 24px;
color: var(--gray-light);
}

.about_content{
    margin-bottom: 30px;
}

.about_content .t{
    margin-bottom: 10px;
    font-weight: normal;
}

.about_content .description{
    color: var(--gray-light);
}

.img_fond_02{
    background-image: url('./image/sushis.jpg') ;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.map iframe{
    width: 100%;
    margin-top: 30px;
    opacity: 0.8;
}

.footer{
    background-color: var(--footer-bg);
    height: 300px;
}

.contact{
    color: #fff;
    order: 1;
}